doctype html
html
  head
    title Our Services
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/services') Our Services
          li
            a(href='/contact') Contact us
    main
      h1 Our Services
      p This is the content of the Services page.


